<div class="card" style="height: 100vh">

  <!--navbar-->
 <div class="card-header p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
      <a class="navbar-brand">FinTrack</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a [routerLink]="['/signup']" class="nav-link">Signup</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <div class=" bg-white my-2 my-sm-0 rounded"><button class="btn btn-outline-dark" type="submit">Search</button></div>
        </form>
      </div>
    </nav>
 </div>

  <div class="card-body row p-0 m-0" style="overflow-y: scroll">
    <div class="col-sm-6 p-0 m-0 col-lg-7" style="background-color:rgb(162, 219, 241)">
      <img src="assets/city_dribbble.gif" class="w-100">
    </div>
    <div class="col-sm-6 p-4 m-0 col-lg-5">
        <p-fieldset legend="Login">
            
                <div class="ui-inputgroup mx-4" style="font-size: 15px" >
                    <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input class=" w-100 p-1" type="text" [(ngModel)]="userName" pInputText placeholder="Username">         
                </div>
                <br>
                <div class="ui-inputgroup mx-4" style="font-size: 15px">
                    <span class="ui-inputgroup-addon"><i class="pi pi-key" width="20px" height="25px"></i></span>
                    <input class=" w-100 p-1" type="password" [(ngModel)]="password" pInputText placeholder="Password">         
                </div>
                <br>
                <div class="w-100 row p-0 m-0">
                  <div class="col-4"></div>
                  <div class="col-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-dark" (click)="getLogindata()">logIn</button>
                  </div>
                  <div class="col-4"></div>
                </div>
        </p-fieldset>

      <div class="mt-4 pt-4 mt-md-1 pt-md-1"> 
         <img class="w-75 mt-4 mt-lg-1 mt-md-2" src="assets/waving.gif">
        </div>
        
    </div>
  </div>
  <div class="card-footer text-white bg-dark text-right" style="font-size: 10px">
      V1.0
    </div>
</div>

<p-toast key="un" position="top-left"></p-toast>
<p-toast key="pass" position="top-left"></p-toast>
<p-toast key="login" position="top-left"></p-toast>
<p-toast key="loginerr" position="top-left"></p-toast>
